@media screen and (max-width: 479px) {
    .wrapper {
        width: 200px;
    }
    .header {
        width: 200px;
        height: 200px
    }
    .head-right {
        width: 40px;
        height: 140px;
        margin: 20px 70px 0 0;
        float: right;
    }
    .inner-left {
        margin: 0 0 10px 0;
        float: none;
    }
    .inner-center {
        margin: 0 0 10px 0;
        float: none;
    }
    .inner-right {
    
        float: none;
    }
    .left {
        float: none;
        width: 200px;

    }
    .right {
        width: 200px;

    }

    .right-upper {
        margin-top: 20px;
        margin-left: 30px;
    }


    .right-middle {
        margin-top: 10px;
        margin-left: 30px;
    }

    .right-bottom {
        margin-top: 10px;
        margin-left: 30px;
    }

    .footer {
        width: 200px;

    }
