.body {
    min-height: 100%;
    height: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
}
.header {
    height: 60px;
    width: 360px;
    background-color: #ffce7a;
    padding: 20px 20px 20px;

    }
.head-right {
    width: 140px;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    float: right;
}
.inner-left {
    width: 40px;
    height: 40px;
    background-color: #c2ffcb;
    margin-left: 10px;
    float: right;
}
.inner-center {
    width: 40px;
    height: 40px;
    background-color: #c2ffcb;
    margin-left: 10px;
    float: right;
}
.inner-right {
    width: 40px;
    height: 40px;
    background-color: #c2ffcb;
    float: right;
}


.left {
    float: left;
    width: 150px;
    height: 250px;
    background-color: #9dddf4;
}

.right {
    float: right;
    width: 150px;
    height: 170px;
    background-color: #c2ffc8;
    padding: 40px 60px 40px 40px;
}

.right-upper {
    width: 140px;
    height: 40px;
    background-color: #ffc2c5;
    margin-bottom: 10px;
    border: 5px solid #fff; 
}


.right-middle {
    width: 140px;
    height: 40px;
    background-color: #ffc2c5;
    margin-bottom: 10px;
    border: 5px solid #fff; 
}

.right-bottom {
    width: 140px;
    height: 40px;
    background-color: #ffc2c5;
    border: 5px solid #fff; 
}

.footer {
    height: 100px;
    background-color: #bea5ff;
}

